certauth>=1.1.0
git+https://github.com/internetarchive/warctools.git
kafka-python

git+https://github.com/nlevitt/surt.git@py3
git+https://github.com/nlevitt/rethinkstuff.git
.

# -e /home/nlevitt/workspace/surt
# -e /home/nlevitt/workspace/rethinkstuff
# -e .
