/*
 * Places a red border around the body of the page & a warning div at the top.
 */

.ArchivingWarningBodyBorder, body {
	border: 2px solid red !important;
}

#ArchivingWarningTopDiv {
	border: 1px solid red !important;
	padding: 10px;
	background-color: lightYellow !important;
	text-align: center;
	position: relative;
	z-index: 2147483652 !important;
	display: block !important;;
}
