#AIT-button,
  #wrapper-AIT-button 

  {list-style-image: url("chrome://custombutton/content/button-1.png");} 

/* common style for all custom buttons */
.custombutton_off
  {-moz-image-region: rect( 0px 24px 24px  0px);} 

.custombutton_on       
  {-moz-image-region: rect(24px 24px 48px  0px);} 

[iconsize="small"] .custombutton_off
    {-moz-image-region: rect( 0px 40px 16px 24px);} 

[iconsize="small"] .custombutton_on
    {-moz-image-region: rect(24px 40px 40px 24px);}